## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,The Valley,AI,78.66,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
1,12,Kieta,PG,85.73,overcast clouds,-6.2167,155.6333,Uruna Bay Retreat
2,16,Kattivakkam,IN,86.09,scattered clouds,13.2167,80.3167,Euronova Freezer
3,18,Butaritari,KI,80.96,light rain,3.0707,172.7902,Isles Sunset Lodge
4,26,Avarua,CK,84.25,few clouds,-21.2078,-159.7750,Paradise Inn

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Giddalur"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Giddalur"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Kattivakkam"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Neyveli"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Kollegal"]

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

drive_itin = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3], 
    travel_mode="DRIVING"
)

#bike_itin = gmaps.directions_layer(
#    start, end, waypoints=[stop1, stop2, stop3], 
#    travel_mode="BICYCLING"
#)

#walk_itin = gmaps.directions_layer(
#    start, end, waypoints=[stop1, stop2, stop3], 
#    travel_mode="WALKING"
#)

fig.add_layer(drive_itin)
#fig.add_layer(bike_itin)
#fig.add_layer(walk_itin)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,327,Giddalur,IN,85.91,broken clouds,15.3500,78.9167,Shivaji Lodge
1,16,Kattivakkam,IN,86.09,scattered clouds,13.2167,80.3167,Euronova Freezer
2,607,Neyveli,IN,83.48,broken clouds,11.5360,79.4824,OYO spot on 10184 Kamadhenu Lodge
3,453,Kollegal,IN,76.96,broken clouds,12.1500,77.1167,MK Restaurant
4,327,Giddalur,IN,85.91,broken clouds,15.3500,78.9167,Shivaji Lodge

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))